rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /schools/{schoolId}/{allPaths=**} {
      allow read: if request.auth != null && schoolId == 'default';
      allow write: if request.auth != null && schoolId == 'default';
    }
  }
}
